@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

/* global styles */
*{
	margin: 0px;
}
body{
	font-family: "lato", sans-serif;
	background-color: #fdfdfd;
	
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
p{
	font-weight: 400;
	font-size: 13px;
}
/* global styles ends here */

/* header starts */
.header{
	height: 106px;
	width: 100%;
	border-radius: 20px;
	
}
.header .intro{
	float: right;
	position: relative;
	text-align: center;
}
.intro h1:after{
	content: 'Hello, I am Lalit kumar';
	line-height: 400px;
	border-radius: 50%;
	background-color: #000;
	padding: 15px;
	position: absolute;
	top: 100px;
	right: 150px;
	font-weight: 400;
	font-size: 5rem;
	font-family: 'The Historia Demo Regular', sans-serif;
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 1rem;
	user-select: none;
}

/* header ends */